Adobe.Localization.Insights.DataLayer/TestStudio/XML/exportTRStatus/xsd/exportTRStatus1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="trStatusList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="idnameobject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="id" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>